.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: palevioletred;
    color: #282c34;
}

.navLink {
    font-size: 22px;
    font-weight: 700;
    color: moccasin;
    text-transform: uppercase;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}
.navLink.active {
    background: #282c34;

}

