.wrapper {
    width: 100%;
    padding: 20px;
    font-weight: 700;
    box-sizing: border-box;
    border: 2px solid #282C34;
    margin-top: 20px;
}
.tableTitle {
    text-transform: uppercase;
    text-align: center;
    background: #6C7145;
    height: 40px;
}

tbody tr:first-child,
tfoot tr:first-child {
    background: #282c34;
    font-size: 16px;
    color: lightgray;
}